.parent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}
/*.child{
	width: 30%;
	border: 1px outset #ddd;
	padding: 1%;
	margin: 1%;
}*/
.p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	
}
body{
	background-color: #6BC27C;
}
.c{
	width: 25%;
	border: 1px outset #ddd;
	padding: 1%;
	margin: 1%;
	box-shadow: 3px 3px 3px 8px #000;
	border-radius: 80px 80px 10px 0px;
	text-align: center;
	height: 400px;
}
.tq{
	text-align: center;
}
.role{
	color: #868892;
	font-style: italic;
	

}
.contact{
	text-align: left;
}
.info{
	width: 15px;
}
.link{
	margin: 1px;
	text-decoration: none;
	font-size: 18px;
	color: #5062b4;
}
.icon{
	width: 30px;
}
.profile{
	width: 50%;
	border: 1px solid #ddd;
	border-radius: 50px;

}
.center{
	padding: 0% 50%;
}
ul li{
	font-size: 20px;
}
.child2 span{
	border-radius: 10px;
	border: 1px solid #5d6d7e;
	background:#ddd;
	padding: 1%;
	margin: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}
ul{
	list-style: disc;
}
table{
	width: 100%;
}
thead{
	background: #000;
	color: #fff;
}
tbody tr:nth-child(odd){
	background-color: #ddd;
}
.table-responsive{
	overflow-x: scroll;
}
.child2{
	width: 60%;
	margin:1%;
	padding: 1%;
	border: 1px solid #ddd;
	box-shadow: 0px 8px 8px -8px #000;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	.c{
	width: 90%;
	border: 1px outset #ddd;
	padding: 1%;
	margin: 1%;
	box-shadow: 3px 3px 3px 8px #000;
	border-radius: 80px 80px 10px 0px;
}
}
@media only screen and (min-width: 481px) and (max-width: 760px){
	.c{
	width: 45%;
	border: 1px outset #ddd;
	padding: 1%;
	margin: 1%;
	box-shadow: 3px 3px 3px 8px #000;
	border-radius: 80px 80px 10px 0px;
}
.child2{
	width: 
}
}
